<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-6' align="center">
            <h2>Utwórz nową sesje</h2>
            <br><br>
            <input class="form-control mr-sm-2" type="text" aria-label="Search"><br>
                <a class="btn btn-primary btn-lg" href="#" role="button">Stwórz</a>
            </div>
            
   
        <div class='col-sm-6 ' align="center">
            <h2>Dołącz do istniejącej sesji</h2>
            <br><br>
            <input class="form-control mr-sm-2" type="text" aria-label="Search"><br>
            <a class="btn btn-primary btn-lg" href="#" role="button">Dołącz</a>
        </div>
    </div>
</div>
